.icon-small{
    margin-left: 36px;
    margin-top: 5px;
    max-width: 60px;
    height: auto;
    vertical-align: middle;  
}
 #display-list .icon-small {
    height: auto;
    margin-left: 53px;
    margin-top: 4px;
    max-width: 41px;
    vertical-align: middle;
}

#display-list .icon-small {
    height: auto;
    margin-left: 54px;
    margin-top: 9px;
    max-width: 38px;
    vertical-align: middle;
}
.left-pad{
    padding-left: 15px;
}
#footer-meta-inner{
    min-height: 100%;
    position: relative;
    max-width: 540px;
    margin: auto;
}
/*#black-hover{
    position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url("../img/hover-bg-black.png") repeat left top !important;
    z-index: 9999999999999;
}*/

 
  
.black-hover {
      
    position:fixed; 
    top:0; 
    left:0;
    height:100%; 
    width:100%; 
    background:   url("../img/hover-bg-black.png") repeat; z-index:1100; 
 

}
 .overlay-bg {
    
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 999998; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.80);
}
 
#black-hover {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../img/hover-bg-black.png") repeat left top !important;
    margin:auto;
    z-index: 10 !important;
    text-align: center;
    overflow: hidden;
}


#page-header-2{
    position: relative;
    display: block;
}

.accept{
    background: url("../img/accept.png") no-repeat center #F2A905;
}

.accept-decline {
    display: block;
    position: fixed;
    text-align: center;
    top: 70%;
    width: 100%;
    z-index: 2147483647;
}
.the-holder {
    margin: auto;
    /*max-width: 540px;*/
    text-align: center;
}
.left-acc, .right-decline{
    padding:0px;
    margin: 0;
    position: relative;
    display: block;
    z-index: 999999999;
    width: 30%;
}
    

/*.text{ width: 100%; height: 100%; top:0px; margin-top:0px; padding:0px; font-size:20px;  text-align:center; ;   position:absolute;  z-index: 999 !important;} 
.text:hover { position:absolute; top:0px;  margin-top:0px; display: block;  z-index: 999 !important}  */

.text {
    color: white;
    font-size: 20px;
    height: 100%;
    margin-top: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999999 !important;
    padding: 10% 0 0;
}
.list-box h1, .list-box-advert h1, .check-map-btn h1{
    color: #286885;
} 
.list-box {
    background-color: rgba(255, 255, 255, 0.5);
    color: #286885;
    float: left;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    max-height: 100px;
    width: 93%;
}
.list-description {
    color: #65676b;
    max-height: 50px;
    overflow: hidden;
}
.list-right-holder {
    width: 62%;
}

.list-description-icon {
    margin: auto;
    min-height: 100px;
    padding-top: 4%;
    text-align: center;
    vertical-align: middle;
}
.list-img {
    display: block;
    margin: 2%;
    min-height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: auto;
}

.list-box .overlay {
    display: block;
    height: 100%;
    margin-top: -1px;
    max-height: 100px;
    position: relative;
    width: 100%;
    z-index: 2147483647;
}

.list-box-advert{
    background-color: rgba(255, 255, 255, 0.5);
    color: #286885;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    max-height: 300px;
    height: 300px;
    width: 93%;
}
.list-advert-btns{
    
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    max-height: 100px;
    height: 100px;
    width: 93%;
}
.check-map-btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: #286885;
    float: left;
    height: 100%;
    width: 242px;
}
.title-shop-advert {
    height: auto;
    padding-left: 22px;
    padding-top: 10px;
    width: 100%;
}

.list-right-holder-advert{
    width: 100%;
}
.list-img-advert {
    padding-left: 9px;
}
.list-description-advert{
    padding: 15px;
}

.check-map-btn{
    vertical-align: middle;
    text-align: center;
}
.middle, .middle-globe{
    height: 100%;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    width: auto;
    padding-left:10px;
    padding-top: 19px;
}
.middle{
    padding-top:31px;
}
.arrows-map-btn {
    background-color: rgba(255, 255, 255, 0.5);
    color: #286885;
    float: left;
    height: 100%;
    margin-left: 12px;
    width: 108px;
}

.middle-arrows {
    display: block;
    height: 100%;
    margin: auto;
    max-height: 100%;
    padding-top: 19px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.arrows-map-btn .overlay {
    display: block;
    height: 100%;
    margin-top: -100px;
    max-height: 100px;
    position: relative;
    width: 100%;
    z-index: 2147483647;
}
.check-map-btn .overlay {
    display: block;
    height: 100%;
    margin-top: -1px;
    max-height: 100px;
    position: relative;
    width: 100%;
    z-index: 2147483647;
}

/*.overlay-bg-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    min-width: 220px;
    position: fixed;
    top: 0;
    z-index: 999998;
}*/
.overlay-bg-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    margin: auto auto auto 0;
    max-width: 540px;
    min-width: 20%;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 999998;
    display: none;
}

.menu ul > li { list-style: none; }
.menu li a{
    text-decoration: none;
    color: white;
    padding-top: 10px;
}
.menu {
    display: block;
    height: 100%;
    margin: auto;
    margin-bottom: 50%;
    padding-top: 30%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    
}

.overlay-bg-menu {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    margin: auto auto auto 0;
    max-width: 540px;
    min-width: 20%;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 999998;
    display: none;
}
/*.overlay-bg-menu:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    margin: auto auto auto 0;
    max-width: 540px;
    min-width: 220px;
    position: fixed;
    text-align: center;
    top: 0;
    z-index: 999998;
}*/

/*     Icons classes      */
a.apparel_acc_footwear, .apparel_acc_footwear{background: url("../img/apparel_acc_footwear.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.appliances_home, .appliances_home{background: url("../img/appliances_home.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.art_colectibles, .art_colectibles{background: url("../img/art_colectibles.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.auto_parts, .auto_parts{background: url("../img/auto_parts.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.bars, .bars{background: url("../img/bars.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.books_magazines, .books_magazines{background: url("../img/books_magazines.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.caffee, .caffee{background: url("../img/caffee.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.computer, .computer{background: url("../img/computer.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.consumer_electronics, .consumer_electronics{background: url("../img/consumer_electronics.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.event_music_ticket, .event_music_ticket{background: url("../img/event_music_ticket.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.financial_services, .financial_services{background: url("../img/financial_services.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.flower_gift, .flower_gift{background: url("../img/flower_gift.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.food_beverages, .food_beverages{background: url("../img/food_beverages.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.furniture, .furniture{background: url("../img/furniture.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.groceries, .groceries{background: url("../img/groceries.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.home_garden, .home_garden{background: url("../img/home_garden.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.music, .music{background: url("../img/music.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.office_products, .office_products{background: url("../img/office_products.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.over_medicines, .over_medicines{background: url("../img/over_medicines.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.pets, .pets{background: url("../img/pets.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.restaurants, .restaurants{background: url("../img/restaurants.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.sports_fitness, .sports_fitness{background: url("../img/sports_fitness.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
a.tools, .tools{background: url("../img/tools.png") no-repeat center;display: block;margin:0;padding:0;height: 60px;position: relative;overflow:hidden;text-indent:100%;white-space:nowrap;width: 60px;text-indent: -9999px;}
/*   End Icons classes   */