/* Reset
------------------------------------------------------------ */
/** {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
    margin: 0;
    padding: 0;
}

html {
    overflow: none;
}
body {
    -webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;              prevent webkit from resizing text to fit 
    -webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' 
    background:#ffffff;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: url("../img/main_background.jpg") no-repeat center #F2A905;
}

#banner img {
    width: 100%;
    max-width: 257px;
}

header {
}
content {
}
footer {
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 100%;
}


footer img{
    width: 100%;
    max-width: 540px;
}
 Structure 
#wrapper {
	width: 100%;
    min-height: 100%;
	margin: auto;
    max-width: 960px;
    position:relative;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}*/


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, figure, aside, section, article, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; outline: none; }
textarea { outline: none; }

* { box-sizing: border-box; -moz-box-sizing: border-box; }

/*
 * Margins
 */
p, ul, ol, dl, table, address, pre, fieldset { margin: 0 0 20px 0; }
hr { margin: 1.25em 0 2.375em 0; height: .125em; }

/*
 * Images
 */
img { vertical-align: middle; max-width: 100%; height: auto; }

/*
 * Hyperlinks
 */
a, a:active { color: #0060c4; text-decoration: none; overflow: hidden; outline: none; }
a:hover, a:focus { text-decoration: underline; color: #0060c4; }
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* 
 * Text Selection
 */
::-moz-selection { background: #000000; color:#fff; text-shadow: none; }
::selection { background: #000000; color:#fff; text-shadow: none; } 

/*
 * General Document Settings
 */
/*html { }
body { font: 14px/20px sans-serif; color: #000; background: #fff; }*/

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

html {
    overflow: none;
}
body {
    -webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold 
    -webkit-text-size-adjust: none;              prevent webkit from resizing text to fit 
    -webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' 
    background:#ffffff;
    font-size: 13px;
    color: #666666;
    font-family: Arial, helvetica, sans-serif;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: url("../img/bg.png") no-repeat center #F2A905;
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 { font-size: 1em; line-height: 1em; margin: 1em 0; color: #000; }
h1 { font-size: 24px; line-height: 35px; margin: 0 0 10px 0; font-family: 'Roboto', 'sans-serif'; font-weight: 300; }
h2 { font-size: 18px; line-height: 20px; margin: 0 0 10px; font-family: 'Roboto', 'sans-serif'; color: #0060c4; font-weight: 300; }
h3 { font-size: 14px; line-height: 20px; margin: 0 0 5px; font-weight: bold; }
h4 { font-size: 14px; line-height: 20px; margin: 0 0 3px; }
h5 { font-size: 14px; line-height: 20px; margin: 0; color: #0060c4;  }

/*
 * Lists
 */
ul { padding-left: 22px;  }
ul > li { list-style: disc; }
ol { margin-left: 2.2em; }
ol > li { list-style-type: decimal; }
ol > li ol > li { list-style-type: lower-alpha; }
ol > li ol > li ol > li { list-style-type: upper-roman; }
li ul, li ol { margin-top: 0; margin-bottom: 0; }

/*
 * Definition List
 */
dt { font-weight: bold; float: left; clear: left; width: 21.7%; }
dd { margin-bottom: 10px; overflow: hidden; }

/*
 * Table
 */
table { border-collapse: collapse; border: none; width: 100%; margin-bottom: 1.2em; border-spacing: 0; }
th, td { text-align: left; padding: 17px 15px 15px; line-height: 17px; }
th, td { border-bottom: 1px solid #f7f7f7; vertical-align: middle; }
td { padding:  5px 15px 7px; }
caption, th { font-weight: bold; background: #f7f7f7; }

/*
 * Quotes
 */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*
 * Code
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
pre { outline: 1px solid #999; font-size: 1em; padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
code { font-size: 1em; line-height: 1.25em; }

/*
 * Forms
 */
input, select, textarea, button { font-size: 99%; font-family: inherit; margin: 0; }
textarea { overflow: auto; }
button, input[type=submit], input[type=reset] { width: auto; overflow: visible; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }

input::-moz-focus-inner
{ 
    border: 0;
    padding: 0;
}
:focus {
	outline: 0;
}

/*
 * forms standard
 */
.field-wrap, .tx_powermail_pi1_fieldwrap_html { clear: both; margin: 0 0 12px; }
label { float: left; width: 122px; padding: 0 10px 0 0; line-height: 28px; color: #000; }
label.error { float: none; margin-left: 132px; font-style: italic; color: #ff0000; width: auto; padding: 0; display: block; }
label span { margin-left: 3px; }
.tx_powermail_pi1_fieldwrap_html_check label.error { margin-left: 0; }

input, textarea, select { border: solid 1px #d8d8d8; color: #808080; width: 247px; padding: 10px 2px; height: 38px; line-height: 18px; background: #fff; }
textarea { height: 137px; font-family: sans-serif; resize: none; }
select option { cursor: pointer; }

input[type=submit] { border: none; width: 199px; height: 38px; padding: 7px 30px 11px 15px; background: #000 url(../images/submit.png) no-repeat right 0; color: #ffff05; text-align: left; font-size: 18px; font-weight: 300; font-family: 'Roboto', 'sans-serif'; text-transform: uppercase; }
input[type=submit]:hover { background-color: #ffff05; background-position: right -38px; color: #000000; cursor: pointer; }
input[type=reset] { width: auto; border: none; height: auto; padding: 0; background: none; text-decoration: underline; color: #f49706; cursor: pointer; }
input[type=reset]:hover { color: #555255; text-decoration: none; }
input[type=file] { padding: 0; height: 30px; border: none; background: none; cursor: pointer; }
input[type=checkbox], input[type=radio] { width: auto; height: auto; padding: 0; border: none; margin: 5px; background: none; position: relative; top: 3px; }
.ie7 input[type=checkbox], .ie7 input[type=radio] { margin: 3px; }

/* --- radio fields are special --- */
.radio-field-wrap .field-wrap { clear: none; float: left; margin: 0; padding: 6px 40px 0 0; }
.powermail_radio_inner label, .powermail_check_inner label, .radio-field-wrap .field-wrap label, .radio-field-wrap-oneline label { float: none; width: auto; }
.radio-field-wrap .field-wrap input, .radio-field-wrap-oneline input { float: left; margin: 2px 6px 0 0; }

/* --- for one line radio fields --- */
.radio-fields-wrapper { padding: 26px 0 9px; }
.radio-fields-wrapper .field-wrap { margin: 0 0 12px; padding-left: 1px; }

/* --- the submit button --- */
.field-wrap.submit-wrap { padding: 1px 0 0; }
.field-wrap.submit-wrap input[type="submit"] { margin-left: 132px; }
.fieldsets > fieldset > legend, #powermaildiv_uid61 legend { display: none; }
.tx_powermail_pi1_fieldwrap_html_reset { float: left; clear: none; }




/*! jQuery UI - v1.10.4 - 2014-04-28
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.slider.css
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-slider {
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 25px; height: 25px; cursor: default; /*background: url(../images/slider-handle.png) no-repeat left top*/; border-radius: 13px; box-shadow: 0px 6px 8px 0px rgba(17, 32, 56, 0.82); }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; border-top: solid 1px #abdcf3;  border-radius: 6px; background: #2b8ecb; box-shadow: inset 0px -3px 7px 0px rgba(46, 122, 180, 1); }

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }

.ui-slider-horizontal {
	margin: 0 0 11px; height: 13px; background: #a39b90; border-radius: 6px; box-shadow:  inset 0px 10px 5px -6px rgba(3, 12, 22, 0.79), 0px 1px 3px 0px rgba(255, 255, 255, 0.79);
}
.ui-slider-horizontal .ui-slider-handle {
	top: -6px;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}


/*
 * Helper Classes
 */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; display: inline-block; }
.clearfix {display: block;}
.left { float: left; }
.right { float: right; }

/* 
 *  ----------------------------------------------------------------------------------- OTHER DOCUMENT GENERAL LAYOUT
 */
html { height: 100%; }
body { height: 100%; }

.container { margin: 0 auto; max-width: 980px; /*padding-left: 10px; padding-right: 10px;*/ text-align: center;}

#wrap-container { min-height: 100%; position: relative; }
#wrap { padding-bottom: 300px; padding-top: 17px; }

#content-container { overflow: hidden; display: inline-block; }
#content-container { display: block; }

.column.left { width: 220px; }
.column.right { width: 260px; padding-left: 15px; padding-top: 30px; margin-left: 32px; }
#content { overflow: hidden; position: relative; }

/* 
 *  ----------------------------------------------------------------------------------- GENERAL CONTENT ELEMENTS
 */

/*
 * -------------------- Overlays
 */
a.overlay, div.overlay > a { position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: url(../img/blank.png) repeat left top !important; }
#logo{
    display: block;
    float: none;
    margin: auto;
    padding-top: 15%;
    text-align: center;
    width: 50%;
}
#page-footer {  margin-top: -607px; }
#page-footer-2 {  margin-top: -250px; }
.container-2{
    margin: 0 auto; 
    max-width: 540px; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-align: left; 
    display: block;
    
}
#footer-inner{
    margin-top: -60px;
}
.left-arrow{
    margin-left:13%;
}
.right-arrow{
    margin-right:13%;
}
